.scrollbar::-webkit-scrollbar {
  width: 2px;
}
.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(61, 60, 61);
  border-radius: 5px;
}
